
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs_open */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid green;
  outline: none;
  cursor: pointer;
  padding: 4px 6px;
  margin: 1px 3px;
  transition: 0.3s;
  font-size: 14px;
  background-color: #fdfdfd;
  color: #888888;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: black;
  background-color: #ccc;
 }
 
 .tab button.loaded {
  background-color: #e0ead6;   /* very light green */
 }

/* Style the tab content */
.xxxxxxtabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}